body {
    margin: 40px;
    font-family: 'Fjalla One', sans-serif; 
    background: linear-gradient(to bottom right, rgb(48, 90, 206), rgba(14, 10, 10, 0.863))
}

/* Everything above this comment is your starter-code. There's NO need to change it.
All your classes need to be added BELOW this comment. */
