body {
    margin: 40px;
    font-family: 'Fjalla One', sans-serif;
    background: url("../img/alt-flat-first.jpg") center fixed no-repeat;
    background-size: cover;
    margin-top: 500px;
}

/* Everything above this comment is your starter-code. There's NO need to change it.
All your classes need to be added BELOW this comment. */
